-
.page-container.customer-gallery.u-subtle-bg.u-padding-top-lg.u-padding-bottom-xl
  .container
    .row
      .col-md-12.u-flex.u-flex-wrap-if-xs
        %h2.gallery-title
          Our Customers

        .gallery-filter
          %select{ name: 'filter-industry' }
            %option{ value: "any" } Any Industry
            - data.customer_industries.each do |industry|
              %option{ value: industry.value }= industry.label

        -# .gallery-filter
          -# %select
            -# %option{ value: "any" } Any Solution
            -# - data.customer_solutions.each do |solution|
              -# %option{ value: solution.value }= solution.label

        -# .gallery-filter
          -# %select
            -# %option{ value: "any" } Any Topic
            -# - data.customer_topics.each do |topic|
              -# %option{ value: topic.value }= topic.label

  
      .col-sm-12
        .org-groups-container
          - data.organizations.sort{ |a, b| [(a.key?('asset_type') ? 0 : 1), a.name] <=> [(b.key?('asset_type') ? 0 : 1), b.name] }.each do |org|
            .icon-card.org-image.aspect-ratio-box.aspect-ratio-box--280-200{ data: { "industry-type": org.industry_type } }
              = svg_image(org.logo)
              - if org.asset_type
                %a.icon-card-asset{ href: org.asset_link, class: "icon-card-asset--#{org.asset_type}" }

    .row
      .col-sm-12
        %nav.text-center
          %ul.pagination.list-unstyled
