---
title: "The evolution of the GitLab Issue Board"
categories: GitLab news
date: 2017-08-23
image_title: '/images/blogimages/issue-boards-anniversary.jpg'
twitter_image: '/images/tweets/issue-board-anniversary-twitter.png'
author: Erica Lindberg
author_twitter: EricaLindberg_
description: "Celebrating one year of flexible, integrated project and release
management workflows inside GitLab."
tags: features, workflow
---

[Collaboration is driven by conversation](https://www.forbes.com/sites/laurencebradford/2016/12/30/the-future-of-web-development-with-gitlab-ceo-sid-sijbrandij/#7b8895b04148). It should be a natural and integrated
practice throughout the development lifecycle, not a manual, contrived process
that requires administration and maintenance. By integrating every step of the
software development lifecycle and providing all the necessary collaboration
tools, GitLab by default provides all the capabilities modern development teams need to support cross-functional collaboration at scale. GitLab was created so teams could focus more on their work, not on configuring their tools.

<!-- more -->

Last year, we announced the first iteration of the [GitLab Issue Board](/features/issueboard/), a major
milestone in our mission to create an open source and integrated
product for modern software development. Built on top of our integrated issue
tracking system, it became possible to visualize your work and customize your
workflow inside of GitLab.

Today, GitLab comes with everything you need to plan and track projects and
releases, including issues (tracker and board), milestones, burndown charts,
chat integration, and more. Communication is centralized, plans
and progress are visible, and work is linked, making collaboration frictionless.

To celebrate our progress over the past year, no small thanks to the community and feedback from our customers, we wanted to take a look at where
the Issue Board has gone since we launched its first iteration in GitLab 8.11.

## The evolution of the GitLab Issue Board

At GitLab, we practice [Conversational Development](http://conversationaldevelopment.com/). Our software development is centered around conversations on what can be improved, how to implement it,
whether or not it worked, and if it achieved the expected value. Instead of
waiting months to release a “perfect” feature, we work on smaller, functional
changes that can get into the hands of our users much more quickly. There’s a few reasons why we develop software this way: in addition to being
able to deliver value faster, we can also react to the market and iterate faster with more frequent feedback loops, and if something goes wrong, it’s easier to spot and fix the problem.

This is how we built the GitLab Issue Board. We started by shipping the basic
functionality needed to allow users to visualize and track their issues. Over the last 12 months, we’ve released small changes every month. Today, the GitLab Issue Board has everything you need to plan and track your projects and releases.

Here’s how we built it over multiple monthly releases:

### August—October 2016 | GitLab 8.11-13
The [GitLab Issue Board](https://docs.gitlab.com/ee/user/project/issue_board.html)
is released in 8.11. Built on top of our integrated issue
tracking system, it uses labels from issues to create lists on a board. You can drag and drop lists to organize your workflow, move issues between lists, and labels are updated automatically as you move them across the board.

Users now have the ability to [create workflows inside of GitLab](https://docs.gitlab.com/ee/user/project/issue_board.html#creating-workflows).

<img src="/images/8_11/issue_boards.gif" alt="Issue Boards in GitLab 8.11" class="shadow">

[Multiple Issue Boards](https://docs.gitlab.com/ee/user/project/issue_board.html#multiple-issue-boards) are released in 8.13. Users can now create multiple
workflows, allowing different teams to create their own customized boards with
the same issues. Once a board is finished, you can leave it as is to review later, or recycle it.

<img src="/images/8_13/m_ib.gif" alt="Multiple Issue Boards in GitLab 8.13" class="shadow">

### January—February 2017 | GitLab 8.16-17
New search and filter interface is added to the [Issue Tracker](https://docs.gitlab.com/ee/user/project/issues/index.html) in 8.16, making it easier for users to search and filter their issues by different attributes such as author, assignee, milestone, and label.

The new search and filter interface is added to the Issue Board in GitLab 8.17,
improving usability. A modal window is added to display all issues that don’t belong to a list for easier search and filtering.
Issues can be added to a list from the modal, and issues can be removed from a
list on the board.

<img src="/images/8_17/board_modal.png" alt="Add issues modal in board in GitLab 8.17" class="shadow">

### March 2017 | GitLab 9.0
[Milestones](https://docs.gitlab.com/ee/user/project/milestones/index.html) are added to the Issue Board in GitLab 9.0 enabling users to organize issues into cycles or sprints with a start date and deadline. Issues can be filtered on the board by milestone, or new boards can be created for individual milestones.

<img src="/images/9_0/boards_milestone.gif" alt="Boards Milestone" class="shadow">

The ability to [reorder issues in a Board list](https://docs.gitlab.com/ee/user/project/issue_board.html#re-ordering-an-issue-in-a-list) is also introduced in 9.0. Now, users prioritize issues within a list simply by dragging and dropping the issue card.

<img src="/images/9_0/boards_reorder.gif" alt="Boards Reorder" class="shadow">

## Get started with GitLab Issue Boards

Start building your project and release management workflows using the Issue Board.

<iframe width="560" height="315" src="https://www.youtube.com/embed/CiolDtBIOA0" frameborder="0" allowfullscreen></iframe>

In this video, Discussion Product Manager Victor Wu demonstrates how to use GitLab Issue Boards for Agile and Scrum-style planning and tracking.

### Documentation Quick Links

- [Issue Board Overview](https://docs.gitlab.com/ee/user/project/issue_board.html#overview)
- [Issue Boards for Scrum](https://docs.gitlab.com/ee/user/project/issue_board.html#scrum-team)
- [Issue Board terminology](https://docs.gitlab.com/ee/user/project/issue_board.html#issue-board-terminology)
- [Creating workflows](https://docs.gitlab.com/ee/user/project/issue_board.html#creating-workflows)

## Help us celebrate our #Issueversary

Everyone has an Issue Board story. Maybe you spent months on a long conversation to get your legal team to embrace the Kanban and promptly blew their minds. Maybe your team is full of diehards driven by strongly held opinions over exactly how many stages yours should have. Maybe you're a remote worker and your issue board is one of the main ways you keep up with teammates spread across the globe.

Whatever your story is, we want to hear from you! Help us celebrate a year of the GitLab Issue Board by [sending us your Issue Board story](https://docs.google.com/forms/d/e/1FAIpQLSf_0DTiQX1X048X6ioAVLRLSBwJzVSG1LH7LupoFdsascPAAw/viewform)
for your chance to win free GitLab swag. We'll tweet out our favorites and announce the winners on September 5.
