---
title: "Have your say: Which AWS integration do you want?"
author: Eliran Mesika
author_gitlab: eliran.mesika
author_twitter: eliran_mesika
categories: GitLab news
image_title: '/images/blogimages/gitlab-aws-cover.png'
description: "We're running a poll to help AWS decide which integrations with GitLab to develop next."
ee_cta: false
tags: integrations
---

We want your input: which AWS tool combined with GitLab would make your life easier?

<!-- more -->

We recently met with the developer tools team at AWS to talk tools and integrations. AWS is asking the GitLab community which integrations with AWS tools you're interested in seeing developed. We’re calling for votes for the respective issues below:

- [AWS CodeDeploy](https://gitlab.com/gitlab-org/gitlab-ce/issues/36178)
- [AWS CodeBuild](https://gitlab.com/gitlab-org/gitlab-ce/issues/36175)
- [AWS CodePipeline](https://gitlab.com/gitlab-org/gitlab-ce/issues/36176)

You can read more about each of the integrations in the issues mentioned above. Let us know which is your idea of developer nirvana by voting in our Twitter poll below. Cast your votes away!

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/awscloud?ref_src=twsrc%5Etfw">@awscloud</a> wants you to help decide which integrations with GitLab to develop next! 💥 Let us know: which tool combined with GitLab would make your life easier?</p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/963096997828767744?ref_src=twsrc%5Etfw">February 12, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
