.faq-container {
  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    float: left;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.faq-item {
  width: 100%;
  color: $text-color-light;
  font-size: 18px;

  &.is-open {
    .faq-answer {
      display: block;
    }

    .faq-question {
      .fa {
        color: $color-secondary;
        transform: rotate(180deg);
      }
    }
  }
}

.faq-inner-item {
  padding-top: 25px;
  border-bottom: 1px solid $navbar-default-border;
}

.faq-question {
  display: block;
  margin-bottom: 25px;
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }

  .fa {
    color: $blueish-gray;
    transition: all .2s;
  }
}

.faq-answer {
  display: none;
  padding-bottom: 25px;
  transition: all .25s;

  > p:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $color-secondary;
    }
  }
}
