@import "../vendor/bourbon/bourbon";

.icon-card {
  position: relative;
  background-color: $color-white;

}

.icon-card-asset {
  $lt-bg-color: #c6c6c6;
  @include position(absolute, 0 0 null null);
  @include size(36px);
  display: block;
  background-color: $lt-bg-color;

  @each $asset-type in case-study, video {
    &.icon-card-asset--#{$asset-type}::before {
      @include position(absolute, 6px);
      display: block;
      background: url("/images/icons/icon-card-#{$asset-type}.svg") 50% 50% / contain no-repeat;
      content: "";
    }
  }
}
